@import "~styles/__variables";
@import "~styles/__mixins";

.online-invitation {
  padding: $page-padding;

  &__header {
    text-align: center;
  }

  &__description {
    text-align: center;
  }
}
