@import "~styles/__variables";
@import "~styles/__mixins";

.primary-button {
  min-width: 100px;
  padding: $padding / 2 $padding;

  font-size: 14px;
  line-height: 1;

  background-color: $black-1;
  border: 1px solid $black-1;

  color: $primary-white;

  &--secondary {
    border-color: $primary-white;
  }

  &:hover {
    background-color: lighten($color: $black-1, $amount: 5%);
    border: 1px solid lighten($color: $black-1, $amount: 5%);
    cursor: pointer;
  }
}
