@import "~styles/__variables";
@import "~styles/__mixins";

.posts {
  @include page;

  &__header {
    text-align: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    max-width: $desktop-width;

    margin: 0 auto;

    &-item {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        padding-bottom: $padding * 3;
        border-bottom: 1px solid lighten($color: $gray-2, $amount: 30%);
      }

      & + & {
        margin-top: $padding * 3;
      }
    }
  }
}

.post {
  min-height: 300px;

  &__cover {
    picture {
      position: static;
    }

    &-image {
      max-height: 800px;
      margin: 0 auto;
    }
  }

  &__title {
    text-align: center;
  }

  &__created {
    text-align: center;
    font-size: 14px;
    padding-bottom: $padding;
    color: $gray-2;
    text-transform: capitalize;
  }

  &__description {
    padding: $padding;
  }

  &__read {
    margin: 0 auto;
  }
}
