$tablet-width: 768px;
$desktop-width: 1024px;
$wide-desktop-width: 1280px;

$transition-default-duration: 300ms;

$navigation-w: 400px;
$navigation-collapsed-w: 20px;
$topbar-h: 60px;

$padding: 16px;
$border: 8px;

// page

$page-padding: 60px;

// colors

$primary-white: #ffffff;
$gray-1: #f5f5f5;
