@import "~styles/__variables";
@import "~styles/__mixins";

.invitation-kit {
  @include page;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  max-width: $desktop-width;

  &__header {
    text-align: center;
  }

  &__description {
    text-align: center;
    padding: $padding;
  }

  &__cover {
    width: 100%;

    picture {
      position: static;
    }

    &-image {
      width: auto;
      margin: 0 auto;
      max-height: 800px;
    }
  }
}
