@import "~styles/__variables";
@import "~styles/__mixins";

.layout {
  &__content {
    height: 100%;
    margin-left: $navigation-w;

    transition: margin ease-in-out $transition-navigation-width-duration;

    &--collapsed {
      margin-left: $navigation-collapsed-w;
      margin-right: $navigation-collapsed-w;
    }

    &--home {
      margin-right: 0;
    }

    @include desktop-down {
      margin-left: 0;
      margin-top: $topbar-h;
    }
  }
}
