@import "~styles/__variables";
@import "~styles/__mixins";

.layout {
  &__content {
    height: 100%;
    margin-left: $navigation-collapsed-w;

    ::selection {
      color: $primary-text-color;
      background-color: transparentize($color: $primary-color, $amount: 0.75);
    }

    main {
      min-height: 100vh;
    }

    &--home {
      margin-right: 0;
    }

    @include desktop-down {
      margin-left: 0;
      margin-top: $topbar-h;
    }
  }
}

.footer {
  background-color: $primary-footer-color;

  &__mission {
    font-size: 0.8em;
    line-height: 1.2em;
    white-space: pre-line;
    @include secondary-font;
  }

  &__logo {
    display: block;
    width: 180px;
    margin-bottom: $padding * 2;
    fill: $primary-text-color;
  }

  &__content {
    display: grid;
    grid-gap: $padding * 2;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "description pages contacts"
      "copyright copyright developed";

    max-width: $wide-desktop-width;
    padding: $padding * 4;
    margin: 0 auto;

    color: $primary-text-color;
  }

  &__description {
    grid-area: description;
  }

  &__copyright {
    grid-area: copyright;

    font-size: 0.6em;
    text-transform: uppercase;
    color: $secondary-text-color;
  }

  &__developed {
    grid-area: developed;

    font-size: 0.6em;
    text-transform: uppercase;
    color: $secondary-text-color;

    a {
      color: $secondary-text-color;
      text-decoration: underline;
    }
  }

  &__contacts {
    grid-area: contacts;

    &-title {
      font-size: 0.9em;
      text-transform: uppercase;
      margin-bottom: $padding * 2;
    }

    &-email {
      font-size: 0.8em;
      font-weight: 100;

      margin-bottom: $padding / 2;
    }

    &-socials {
      display: flex;
      flex-direction: row;

      a + a {
        margin-left: $padding / 2;
      }
    }

    &-social-icon {
      display: block;
      width: 1em;
      height: 1em;

      fill: $secondary-text-color;
    }
  }

  &__pages {
    grid-area: pages;

    &-title {
      font-size: 0.9em;
      text-transform: uppercase;
      margin-bottom: $padding * 2;
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      a {
        color: $secondary-text-color;
        font-size: 0.8em;
        border-bottom: 1px solid transparent;

        padding-bottom: $padding / 4;
        margin-bottom: $padding / 2;

        transition: all $transition-default-duration;

        &:hover {
          color: $primary-text-color;
          border-bottom-color: $primary-text-color;
        }
      }
    }
  }

  @include tablet-down {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      & > div:not(:last-child) {
        margin-bottom: $padding * 2;
      }
    }

    &__copyright,
    &__developed {
      text-align: center;
    }
  }
}
