@import "~styles/__variables";
@import "~styles/__mixins";

.submenu__items-transition {
  &-enter {
    height: 0;
  }

  &-enter-active {
    transition: height $transition-default-duration;
  }

  &-exit-active {
    transition: height $transition-default-duration;
    height: 0 !important;
  }

  @for $j from 1 to 10 {
    &--#{$j}.submenu__items-transition-enter-active,
    &--#{$j}.submenu__items-transition-enter-done,
    &--#{$j}.submenu__items-transition-exit {
      height: 27px * $j + $padding;
    }
  }
}
