@import "~styles/__variables";
@import "~styles/__mixins";

.navigation {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  width: $navigation-w;
  height: 100vh;
  overflow: hidden;
  padding: $padding;

  background-color: $primary-white;

  z-index: 1;

  @include desktop-down {
    top: $topbar-h;

    width: 100%;
    height: calc(100vh - #{$topbar-h});

    &--collapsed {
      display: none;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;

    flex: 1 0 auto;

    &-item {
      &--active {
        color: black;
        text-decoration: underline;
      }
    }
  }

  &__logo {
    width: 200px;
    height: 200px;
    margin: 100px auto 0;

    background-color: gray;
    border-radius: 999px;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }

    @include desktop-down {
      display: none;
    }
  }

  &__external {
    @include desktop-down {
      display: none;
    }

    &-socials {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      &-link {
        margin: 8px;
      }

      &-icon {
        width: 20px;
        height: 20px;
      }
    }

    &-dev-by {
      width: 100%;
      display: none;

      font-size: 12px;
      text-transform: uppercase;
      font-weight: 100;
    }
  }
}

.submenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  &--opened {
    color: red;
  }

  &__title {
    cursor: pointer;
    user-select: none;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: $topbar-h;

  padding: $padding;

  background-color: $primary-white;

  z-index: 1;

  @include desktop {
    display: none;
  }

  &__logo {
  }

  &__toggle-nav {
    cursor: pointer;

    &--close {
      color: red;
    }
  }
}
