@import "~styles/__variables";
@import "~styles/__mixins";

.navigation {
  $this: &;

  position: fixed;
  top: 0;
  left: 0;

  width: $navigation-w;
  height: 100vh;
  overflow: hidden;
  padding: $padding;
  border-right: 1px solid #efefef;
  box-shadow: -4px 0 12px 0 rgba(14, 30, 37, 0.12);

  background-color: $primary-white;
  transition: all ease-in-out $transition-navigation-width-duration;

  z-index: 999;

  &--collapsed {
    width: $navigation-collapsed-w;
    box-shadow: none;

    #{$this}__logo,
    #{$this}__menu {
      opacity: 0;
      visibility: hidden;

      transition-delay: 0ms;
    }
  }

  @include desktop-down {
    top: $topbar-h;

    width: 100%;
    height: calc(100vh - #{$topbar-h});

    padding: 0;

    &--collapsed {
      width: 0;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;

    padding: 0 $padding * 3;

    transition: opacity $transition-default-duration
        $transition-navigation-width-duration,
      visibility $transition-default-duration
        $transition-navigation-width-duration;

    top: calc(50% - 200px);

    &-item {
      font-size: 1.4em;
      font-weight: 300;
      line-height: 1;
      color: $black-1;
      text-align: right;
      overflow: hidden;
      white-space: nowrap;

      padding: $padding / 2 0;

      &--active {
      }
    }

    @include desktop-down {
      padding-top: $padding;

      &-item {
        text-align: left;
      }
    }
  }

  &__logo {
    width: 180px;
    transition: opacity ease-in-out $transition-default-duration
        $transition-navigation-width-duration,
      visibility ease-in-out $transition-default-duration
        $transition-navigation-width-duration;
    margin: 0 auto;
    transform: translateY(120px);

    &-link {
      display: block;
      width: 100%;
      height: 100%;
    }

    @include desktop-down {
      display: none;
    }

    &-image {
      display: block;
      width: 100%;
      fill: #000;

      &--secondary {
        width: 160px;
        margin: 8px auto 0;
        fill: rgba(0, 0, 0, 0.6);
      }
    }
  }

  &__toggle-button {
    @include desktop-down {
      display: none;
    }

    width: 24px;
    height: 14px;
    position: absolute;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;

    top: 26px;
    right: 16px;

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $black-1;
      border-radius: 1px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
    }

    span:nth-child(1) {
      top: 0px;
    }

    span:nth-child(2),
    span:nth-child(3) {
      top: 6px;
    }

    span:nth-child(4) {
      top: 12px;
    }

    &.toggle-button--opened {
      span:nth-child(1) {
        top: 10px;
        width: 0%;
        left: 50%;
      }

      span:nth-child(2) {
        transform: rotate(45deg);
      }

      span:nth-child(3) {
        transform: rotate(-45deg);
      }

      span:nth-child(4) {
        top: 10px;
        width: 0%;
        left: 50%;
      }
    }
  }

  &--collapsed {
    #{$this}__toggle-button {
      right: 22px;
    }
  }

  &__trigger {
    cursor: pointer;

    @include desktop-down {
      display: none;
    }
  }
}

.submenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  &--opened {
  }

  &__title {
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1;
    user-select: none;
    text-align: right;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;

    padding: $padding / 2 0;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow: hidden;

    padding-bottom: $padding;
  }

  &__item {
    font-size: 0.8em;
    font-weight: 300;
    line-height: 1;
    text-align: right;
    overflow: hidden;

    padding: $padding / 4 0;
  }

  @include desktop-down {
    &__item,
    &__title {
      text-align: left;
    }
  }
}

.topbar {
  $this: &;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: $topbar-h;

  padding: $padding;
  border-bottom: 1px solid #efefef;
  background-color: $primary-white;

  z-index: 1;

  @include desktop {
    display: none;
  }

  &__toggle-nav {
    cursor: pointer;

    &--close {
      color: red;
    }
  }

  &__logo {
    &-link {
      display: block;
    }

    &-image {
      display: block;
      width: 140px;
      fill: #000;
    }
  }

  &__toggle-button {
    position: absolute;
    right: $padding;
    top: $padding;

    width: 24px;
    height: 14px;
    transform: rotate(0deg) translateY(50%);
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: $black-1;
      border-radius: 1px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
    }

    span:nth-child(1) {
      top: 0px;
    }

    span:nth-child(2),
    span:nth-child(3) {
      top: 6px;
    }

    span:nth-child(4) {
      top: 12px;
    }

    &.toggle-button--opened {
      span:nth-child(1) {
        top: 10px;
        width: 0%;
        left: 50%;
      }

      span:nth-child(2) {
        transform: rotate(45deg);
      }

      span:nth-child(3) {
        transform: rotate(-45deg);
      }

      span:nth-child(4) {
        top: 10px;
        width: 0%;
        left: 50%;
      }
    }
  }
}
