@import "~styles/__variables";
@import "~styles/__mixins";

.post {
  @include page;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  max-width: $desktop-width;

  &__header {
    text-align: center;
  }

  &__article {
    padding: $padding;
  }

  &__cover {
    margin: 0 auto;

    img {
      width: auto;
      max-height: 800px;
    }
  }

  &__createdAt {
    text-transform: capitalize;
    font-size: 14px;
    color: $gray-2;
    padding-bottom: $padding;
    text-align: center;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: stretch;

    width: 100%;
    padding-top: $padding * 2;

    &-divider {
      margin: 0 $padding;
      width: 1px;
      background-color: lighten($color: $gray-2, $amount: 30%);
    }

    &-item {
      flex: 1 0 auto;

      max-width: 250px;

      &:first-child {
        text-align: right;
      }

      &:last-child {
        text-align: left;
      }
    }

    &-title {
      font-size: 14px;
      line-height: 1;
    }
  }
}
