@import "~styles/__variables";
@import "~styles/__mixins";

@keyframes horizontalMovement {
  0%,
  4% {
    transform: scale(1.01) translate(0, -1px);
  }
  50% {
    transform: scale(1.01) translate(-50%, -1px);
  }
  100% {
    transform: scale(1.01) translate(0, -1px);
  }
}

.video {
  &__player {
    width: 100%;
    height: calc(100% + 2px);
    min-height: 100%;
    object-position: center;
    object-fit: cover;
    transform: scale(1.01) translate(0, -1px); // fix fps
    padding: 1px 0 0 0;

    @include mobile-down {
      width: 200%;

      animation: horizontalMovement 56s linear infinite;
    }
  }

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}
